<p id="notice"><%= notice %></p>

<h1>Submissions</h1>

<div id="submissions">
  <%= render 'index' %>
</div>

<br>

<div id="submission_form">
  <%= render 'form', submission: @submission %>
</div>

<hr>
